@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
}
body{
  margin: 0;
font-family: Bebas Neue,sans-serif ;
background: whitesmoke;



}
h1{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  /* letter-spacing: 5px; */
}
/* .loader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
}
.loader img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-bottom: 5px ;
  
} */
.img-container{
  margin: 10px 30%;
}
.img-container img{
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    h1{
      font-size: 1rem;
    }
    .img-container{
      margin: 10px;
    }
}